.container{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.pict{
    object-fit: contain;
}

.title{
    display: flex;
    width: 100%;
    padding: 10px 30px;
    margin-top: 10px;
}

.text{
    padding-left: 10px;
    font-size: medium;
    font-weight:700;
    color: #749D00;
}

.text2{
    padding-left: 10px;
    font-size: small;
    font-weight:600;
    color: #749D00;
}

.titleText{
    margin-left: 10px;
}

.titleText p{
    margin: 0;
    padding: 0;
}

.identity{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.identityForm{
    display: flex;
    align-items: center;
}

.labelTitle{
    width: 20%;
    margin: 0 20px;
    font-weight: 500;
    color: #8F9B94;
}

.formIdentity{
    width: 60%;
    height: 30px;
    border: none;
    background-color: #EFF3E1;
    padding: 10px;
    font-weight: 600;
    color: #749D00;
}

.identityForm2{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    height: 300px;
    margin-top: 20px;
}

.text3{
    color: #749D00;
    font-weight: 600;
}

.inputIdentityText{
    background-color: #F3FFE0;
    border: none;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-weight: 600;
}

.nomor{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100px;
    width: 100%;
    color: #749D00;
    font-weight: 500;
}

.info{
    text-align: center;
    font-weight: 600;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonBack{
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #B9CC7E;
    color: white;
    margin: 20px;
}